{% extends "main/header.html" %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col l3 m1 s0"></div>
        <div class="col l6 m10 s12">
        <h3>Your Profile</h3>
        <table class="centered">
            <tr>
                <td><p>Username: </p></td>
                <td><p>{{ user.username }}</p></td>
            </tr>
            <tr>
                <td><p>First name: </p></td>
                <td><p>{{ user.first_name }}</p></td>
            </tr>
            <tr>
                <td><p>Last name: </p></td>
                <td><p>{{ user.last_name }}</p></td>
            </tr>
            <tr>
                <td><p>Email: </p></td>
                <td><p>{{ user.email }}</p></td>
            </tr>
        </table>
        </div>
        <div class="col l3 m1 s0"></div>
    </div>
    <div class="row center">
        <div class="col l3 m1 s0"></div>
        <div class="col l6 m10 s12">
        <h3>Edit Profile here!</h3>
        {% load materializecss %}
        <form method="POST">
            {% csrf_token %}
            {{ form.username|materializecss }}
            {{ form.first_name|materializecss }}
            {{ form.last_name|materializecss }}
            {{ form.email|materializecss }}
            <div class="center">
                <button type="submit" class="btn pink darken-3 center">Edit</button>
            </div>
        </form>        
        If you want to change your password, you can do so <a href="/change_pass">here!</a>
        </div>
        <div class="col l3 m1 s0"></div>
    </div>
</div>

{% endblock %}

