{% extends "main/header.html" %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col l3 m1 s0"></div>
        <div class="col l6 m10 s12">
            <h3>Login here!</h3>
            {% load materializecss %}
            <form method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
                <div class="center">
                    <button type="submit" class="btn pink darken-3 center">Login</button>
                </div>
            </form>
            If you don't have an account, click here to <a href="/register">Register</a><br>
            Forgot password? Click here to <a href="/password-reset">Reset Password</a>
        </div>
        <div class="col l3 m1 s0"></div>
    </div>
</div>
{% endblock %}