{% extends "main/header.html" %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col s3"></div>
        <div class="col s6">
        <h3>Add new task</h3>
        {% load materializecss %}
        <form method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
            <div class="center">
                <button type="submit" class="btn pink darken-3 center">Create Task</button>
            </div>
        </form>
    </div>
    <div class="col s3"></div>
</div>

{% endblock %}