{% extends "main/header.html" %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col l3 m1 s0"></div>
        <div class="col l6 m10 s12">
        <h3>Reset Password here!</h3>
            <p>
              We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
            </p>
            <p>
              If you don't receive an email, please make sure you've entered the address you registered with,
              and check your spam folder.
            </p>
            <p><a href="/">Return to home page</a></p>
        </div>
        <div class="col l3 m1 s0"></div>
    </div>
</div>

{% endblock %}