{% extends "main/header.html" %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col l3 m1 s0"></div>
        <div class="col l6 m10 s12">
        <h3>Reset Password here!</h3>
        {% load materializecss %}
        <form method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
            <button type="submit" class="btn pink darken-3 center">Send reset email</button>  
        </form>
        </div>
        <div class="col l3 m1 s0"></div>
    </div>
</div>

{% endblock %}

