$colors :(
    nav: #ad1457,
    bg: aliceblue,
    list: #b2ebf2,
    task: #80deea,
    cont: #e0f7fa,
    cbtn: #00838f,
    plist: #ffe082,
    ptask: #ffd54f,
    pcont: #fff8e1
);

body, html{
    height: 100%;
}
body {
    background-color: map-get($map: $colors, $key: bg);
    background-image: url('/static/main/img/dash.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: white;

    .navbar{
        background-color: map-get($map: $colors, $key: nav );
    }

    .messages{
        background-color: transparent;
    }

    .list-container{
        color: black;
    }

    .list{
        background-color: map-get($map: $colors, $key: list);

        .task-cont{
            background-color: map-get($map: $colors, $key: task);
            .collection-item{
                background-color: map-get($map: $colors, $key: cont);

                button{
                    background-color: map-get($map: $colors, $key: cbtn);
                }
            }
        }

        .checked{
            color: #aaa;
            text-decoration: line-through;
        }
        
        .task{
            cursor: pointer;
        }
    }

    .priority{
        background-color: map-get($map: $colors, $key: plist);

        .task-cont{
            background-color: map-get($map: $colors, $key: ptask);
            .collection-item{
                background-color: map-get($map: $colors, $key: pcont);
            }
        }

        .checked{
            color: #aaa;
            text-decoration: line-through;
        }
        
        .task{
            cursor: pointer;
        }
    }
    
}