$colors :(
    nav: #ad1457,
    bg: aliceblue,
    cont: #bbdefb
);

body, html{
    height: 100%;
}
body {
    // background-color: map-get($map: $colors, $key: nav);  
    background-image: url('/static/main/img/forms.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;

    form{

        .input-field > label{
            color: black;
        }
        .input-field input[type=text]{
            color: black;
        }
    }

    .navbar{
        background-color: map-get($map: $colors, $key: nav);
    }

    .messages{
        background-color: transparent;
    }
}